---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: 'Lato', Helvetica, Arial, sans-serif;
$base-font-size:   .95em;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fff;
$brand-color:      #0077CC;
// $gameday-sky: #109dc0;
$clemson-purple:      #522d80;
$clemson-orange:      #f66733;

$su-blue: #002F5F;
$su-olive: #8cb233;
$su-sky: #ACDEE6;
$su-sky34: #e3f4f7;
$su-sky20: #eef9fa;
$su-water: #9BB2CE;
$su-fire: #EB7125;
$su-fire10: #fdf0e8;
$su-darkgrey: #4c4c4c;
$su-lightgrey: #dadada;
$su-mediumgrey: #bababa;

// green 
$deep-green: #22577A;
$dark-green: #48A3A5;
$bright-green: #80ED99;
$medium-green: #57CC99;
$light-green:#C7F9CC;
$bg-green:#d2e7d4;

// bluegreen
$dark-bluegreen: #006D77;
$light-bluegreen: #83C5BE;
$bg-bluegreen: #EDF6F9;
$lightcontrast-bluegreen: #FFDDD2;
$darkcontrast_bluegreen: #E29578;

// purple
$deep-purple: #6A4C93;
$dark-purple: #736CED;
$medium-purple: #9F9FED;
$light-purple: #D4C1EC;
$lightbg-purple: #F2DFD7;
$bg-purple: #FEF9FF;
$lightcontrast-purple: #EAF2D7;
$hyperlink-purple: #5E7CE2;

//pink
$deep-pink: #450920;
$mediumdark-pink: #772845;
$dark-pink: #A53860;
$bright-pink: #e14c6c;
$medium-pink: #FFA5AB;
$light-pink: #F9DBBD;


$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);


// Width of the content area
$content-width:    950px;

$on-palm:          600px;
$on-laptop:        950px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "header",
	"mobile-header",
        "base",
        "layout",
        "syntax-highlighting",
	"fancy-image",
	"updatebox"
;
