.highlight code, .highlight pre, .highlighter-rouge code, .highlighter-rouge pre {
    color:#000000;;
    //background-color:$bg-purple;
    background-color:gray;
    }

.highlight .hll {
        background-color:#222;
}
        
.highlight .err {
        color:#e37170;
        background-color:#3d3535;
} 

// keywords
.highlight .k {
        color:$clemson-orange;
}

// Comments
.highlight .c, .highlight .g, .highlight .cm, .highlight .cp, .highlight .c1 {
    color:$dark-green;
}

.highlight .gh, .highlight .gp {
    color:$dark-pink;
    font-weight:700;
}

// quote
.highlight .ld,
.highlight .s,
.highlight .sb,
.highlight .sc,
.highlight .sd,
.highlight .s2,
.highlight .se,
.highlight .sh,
.highlight .si,
.highlight .sx,
.highlight .sr,
.highlight .s1,
.highlight .ss {
color:$bright-pink;
}

// operator
.highlight .o, .highlight .ow {
    color:$dark-purple;
}

.highlight .nn {
        color:$su-fire;
}

.highlight .gd {
    color:#cd0000;
    }
    
    .highlight .ge {
    color:#222;
    font-style:italic;
    }
    
    .highlight .gr {
    color:red;
    }

.highlight .go {
    color:gray;
    }
    
    .highlight .gs {
    color:#222;
    font-weight:700;
    }
    
    .highlight .gu {
    color:purple;
    font-weight:700;
    }
    
    .highlight .gt {
    color:#0040D0;
    }
    